<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta charset="utf-8">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Facebook网站登录界面模板</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="\static\normalize.css">

<!--必要样式-->
<link rel="stylesheet" href="\static\style.css" media="screen" type="text/css" />

</head>
<body>
<meta charset="utf-8">
<section class="login-form-wrap">
  <h1>Facebook</h1>
  <form class="login-form" action="/login" method="GET">
	  <label><input type="email" name="email" required placeholder="Email"></label>
	  <label><input type="password" name="password" required placeholder="Password"></label>
	  <input type="submit" value="Login">
  </form>
  <h5><a href="#">忘记密码</a></h5>
</section>

</body>
</html>
