<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="\static\twitter-signup.css" type="text/css">
		<link rel="stylesheet" href="images/main.css" type="text/css">
	</head><body>
		<div id="container">
			<br><br><br>
			
			<br><br>
			<div id="twitter-outer">
				<div id="twitter-logo">
					<img src="\static\twitter_logo_header.png" alt="Twitter.com" height="36" width="155"> 
					<div class="content-bubble-arrow"></div>
				</div>
				
				<div id="twitter">
			<form action="/login" method="post"> 
						<div id='name' class='outerDiv'>
							<label for="name">Full name:</label> 
							<input type="text" name="name" required  /> 
							<div class='message' id='nameDiv'> Enter your first and last name. </div>

						</div>
						<div class='clearfix'></div>
						<div id='username' class='outerDiv'>
							<label for="number">Username:</label> 
							<input type="text" name="username" required  /> 
							<div class='message' id='usernameDiv'> Pick a unique name on Twitter. </div>
						</div>
						<div class='clearfix'></div>

						<div id='password' class='outerDiv'>
							<label for="password">Password:</label> 
							<input type="password" name="password" required /> 
							<div class='message' id='websiteDiv'> 6 characters or more (be tricky!). </div>
						</div>
						<div class='clearfix'></div>
						<div id='email' class='outerDiv'>
							<label for="email">Email:</label> 
							<input type="email" name="email" required /> 
							<div class='message' id='emailDiv'> We'll send you a confirmation. </div>

						</div>
						<div class='clearfix'></div>
						<div id='submit' class='outerDiv'>
							<input type="submit" value="Create my account" /> 
						</div>
						<div class='clearfix'></div>
					</form>
					<div class="clearfix"></div>
				</div>
			</div>	
		<br>
			<div id="warning" style="margin-top: 20px; color: rgb(85, 85, 85); text-align: center; font-size: 14px;">适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗.</div>
			</div>
</body>
</html>